{% extends "base.html" %}
{% block content %}
<h2>Login</h2>

<form method="post">
    {% csrf_token %}

    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>

    {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
    {% endif %}

    <button type="submit">Login</button>
</form>

{% for message in messages %}
<p style="color:rgb(0, 255, 106)">{{ message }}</p>
{% endfor %}
{% endblock %}
